.cb-sectors {
    .sectors-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .sector-card {
        text-decoration: none;
        flex: 0 0 calc(50% - 0.75rem);

        @media (min-width: 768px) {
            flex: 0 0 calc(33.333% - 1rem);
        }

        @media (min-width: 992px) {
            flex: 0 0 calc(20% - 1.2rem);
        }
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__image {
            aspect-ratio: 1;
            max-width: 200px;
            width: 100%;
            border-radius: 100vw;
            overflow: hidden;
        }
        img {
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
            border-radius: 100vw;
            max-width: 200px;
            transition: transform var(--transition);
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

}